 # <center>Midterm Exam &ndash; DATA 3401 (Fall 2021)</center>

## Start Date: 10/22
## Due Date: 10/24 (at the **end** of the lab period (5:00pm))
There will be **no Lab on Friday 10/24**

## Midterm Rules
This midterm exam is essentially like a short-term lab. Please work the exercises below **on your own**.  When you have completed the exam, you should push your completed jupyter notebook to your GitHub repo for this class in the **Exams->Midterm** folder.

You may not discuss the problems with **anyone else**, including persons on an online internet forum. Consulting an outside source like this will be considered an academic integrity violation.

You may use all class resources including previous labs and lectures, and anything posted on the course GitHub repo. 

You may not use any function that trivializes a problem. For example, if I ask you to write a `max` function that computes the maximum entry in a list, you are not allowed to use the pre-defined Python function `max`; you must write your own.

## Exercise 1
1. Write a script or function that asks the user to input 3 numbers, and output the product of the 3 numbers.
1. Your code should display an error message if one of the inputs is not a number.
1. Test your code on the following inputs:  
    1. (5, -10, 20.0)
    1. (1, "blah", 5)

In [47]:
def product(num1,num2,num3):
    if type(num1) != int and type(num1) != float:
        print('Error: 1st input is not a number!')
    elif type(num2) != int and type(num2) != float:
        print('Error: 2nd input is not a number!')
    elif type(num3) != int and type(num3) != float:
        print('Error: 3rd input is not a number!')
    else: return num1*num2*num3

In [51]:
product(5,-10,20.0)

-1000.0

In [52]:
product(1,"blah",5)

Error: 2nd input is not a number!

## Exercise 2
Suppose the first element of a sequence is $a_0 = 1$, the second element is $a_1 = 3$, and for every $i>1$, the $i$--th element of the sequence is defined by the recursive relation $a_i = \frac{(a_{i-1}-a_{i-2})^2}{3}$. (So $a_2 = 4/3$)
1. Write a function which outputs the $n$--th element of this sequence for a given integer $n$
2. Test your function for $n = 1, 5, 10, 15,$ and $20$

In [282]:
def fib_weird(f):
    a_0 = 1
    a_1 = 3
    a_new = 4/3
    counter = 2
    if f == 0:
        return 1
    while counter <= f:
        a_0 = a_1
        a_1 = a_new
        a_new = ((a_0-a_1)**2)/3
        counter +=1
    return a_1

In [283]:
fib_weird(1)

3

In [284]:
fib_weird(5)

0.25264753615031454

In [285]:
fib_weird(10)

3.986380447622439e-09

In [286]:
fib_weird(15)

2.2496046712168145e-35

In [287]:
fib_weird(20)

4.003939782244758e-285

## Exercise 3
1. Write a function which takes a list as input and outputs the largest **integer** entry. If there is none, return `None`.
1. Test your function on the following lists
    1. \[ 1, 9, 10.2, 6, -2\]
    1. \[1.2, 3/4, "Hello World"\]

In [225]:
def maxint(lst):
    if type(lst) != list:
        print("Error input must be a list!")
    int_list = []
    for i in lst:
        if type(i) == int:
            int_list.append(i)
            
    if len(int_list) == 0:
        return print(None)
    
    int_max = int_list[0]
    for j in int_list:
        if j>int_max:
            int_max = j
    return int_max

In [226]:
maxint([1,9,10.2,6,-2])

9

In [227]:
maxint([1.2,3/4,"Hello World"])

None

## Exercise 4
1. Create a program that will make a deck of cards. Each card should be represented as a tuple of the form `(value, suit)`, where `value` is a number between 2 and 10, Jack, Queen, King, or Ace, and `suit` is one of Spades, Clubs, Diamonds, or Hearts.
1. Create a function that takes in a hand (list) of 5 cards, and determines whether or not the hand is a "flush", meaning that all 5 cards are of the same suit.
1. Test your function by inputting the following hands:
    1. Ace of Hearts, King of Hearts, Queen of Hearts, Jack of Hearts, 2 of Hearts
    1. 2 of Clubs, 3 of Spades, 4 of Clubs, 10 of Diamonds, Jack of Spades

In [353]:
def create_deck():
    cards = ['Ace',2,3,4,5,6,7,8,9,10,'Jack','Queen','King']
    deck = []
    for i in range(13):
        deck.append((test_cards[i],'Hearts'))
    for i in range(13):
        deck.append((test_cards[i],'Clubs'))
    for i in range(13):
        deck.append((test_cards[i],'Spades'))
    for i in range(13):
        deck.append((test_cards[i],'Diamonds'))
    return deck
def flush(hand):
    suit = []
    for i in range(len(hand)):
        suit.append(hand[i][1])
    check_hearts = suit.count('Hearts')
    check_clubs = suit.count('Clubs')
    check_diamonds = suit.count('Diamonds')
    check_spades = suit.count('Spades')
    if check_hearts == 5:
        return True
    elif check_clubs == 5:
        return True
    elif check_spades == 5:
        return True
    elif check_diamonds == 5:
        return True
    else:
        return False

In [354]:
create_deck()

[('Ace', 'Hearts'),
 (2, 'Hearts'),
 (3, 'Hearts'),
 (4, 'Hearts'),
 (5, 'Hearts'),
 (6, 'Hearts'),
 (7, 'Hearts'),
 (8, 'Hearts'),
 (9, 'Hearts'),
 (10, 'Hearts'),
 ('Jack', 'Hearts'),
 ('Queen', 'Hearts'),
 ('King', 'Hearts'),
 ('Ace', 'Clubs'),
 (2, 'Clubs'),
 (3, 'Clubs'),
 (4, 'Clubs'),
 (5, 'Clubs'),
 (6, 'Clubs'),
 (7, 'Clubs'),
 (8, 'Clubs'),
 (9, 'Clubs'),
 (10, 'Clubs'),
 ('Jack', 'Clubs'),
 ('Queen', 'Clubs'),
 ('King', 'Clubs'),
 ('Ace', 'Spades'),
 (2, 'Spades'),
 (3, 'Spades'),
 (4, 'Spades'),
 (5, 'Spades'),
 (6, 'Spades'),
 (7, 'Spades'),
 (8, 'Spades'),
 (9, 'Spades'),
 (10, 'Spades'),
 ('Jack', 'Spades'),
 ('Queen', 'Spades'),
 ('King', 'Spades'),
 ('Ace', 'Diamonds'),
 (2, 'Diamonds'),
 (3, 'Diamonds'),
 (4, 'Diamonds'),
 (5, 'Diamonds'),
 (6, 'Diamonds'),
 (7, 'Diamonds'),
 (8, 'Diamonds'),
 (9, 'Diamonds'),
 (10, 'Diamonds'),
 ('Jack', 'Diamonds'),
 ('Queen', 'Diamonds'),
 ('King', 'Diamonds')]

In [355]:
flush([('Ace','Hearts'),('King','Hearts'),('Queen','Hearts'),('Jack','Hearts'),('Two','Hearts')])

True

In [356]:
flush([(2,'Clubs'),(3,'Spades '),(4,'Clubs'),(10,'Diamonds'),('Jack','Spades')])

False

In [357]:
flush([('Ace','Spades'),('King','Spades'),('Queen','Spades'),('Jack','Spades'),('Two','Spades')])

True

## Exercise 5
1. Write a function or script that takes in a string and whose output is the input string minus all of a specified character.  For example, an input of "Hello World" where "l" is removed should result in "Heo Word"
1. Test your function by specifying "i" to be removed from "Supercalifragilisticexpialidocious"
1. Test your function by specifying "data" to be removed from "data 3401 introduction to python for data science"

In [216]:
def remove_character():
    string = input('Put Phrase Here:  ')
    character = input('What would you like to remove?  ')
    temp = character
    for character in string:
        if character in string:
            new_string = string.replace(temp,"")
    return new_string

In [214]:
remove_character()

Put Phrase Here:  Hello World
Which Letter would you like to remove?  l

'Heo Word'

In [215]:
remove_character()

Put Phrase Here:  Supercalifragilisticexpialidocious
Which Letter would you like to remove?  i

'Supercalfraglstcexpaldocous'

In [217]:
remove_character()

Put Phrase Here:  data 3401 introduction to python for data science
What would you like to remove?  data

' 3401 introduction to python for  science'